<app-admin-header></app-admin-header>
<div class="container">
  <div class="col-md-3"></div>
  <div class="col-md-6 offset-md-3">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="row g-3">
      <h1>Edit User {{firstName}}
      </h1>
      <label class="visually-hidden">Voornaam</label>
      <input [(ngModel)]="firstName" name="firstName" class="form-control" type="text" placeholder="Voornaam">
      <label class="visually-hidden">Achternaam</label>
      <input [(ngModel)]="lastName" name="lastName" class="form-control" type="text" placeholder="Achternaam">
      <label class="visually-hidden">Wachtwoord</label>
      <input ngModel name="password" class="form-control" type="password" placeholder="Wachtwoord">
      <label class="visually-hidden">Email</label>
      <input [(ngModel)]="email" name="email" class="form-control" type="text" placeholder="E-mail">
      <button style="margin-top: 10px" type="submit" class="btn btn-primary mb-3" [disabled]="!f.valid">Pas aan</button>
      <p *ngIf="userEdited">User is aangepast!<button class="btn btn-primary mb-3" [routerLink]="['/', 'admin-all-users']">Navigeer naar Manage Users</button></p>
      <p *ngFor="let errorMessage of errorMessages">{{ errorMessage }}</p>

    </form>
    <h2>Of verwijder de gebruiker</h2>
    <button (click)= "onDeletionUser(userId)" class="btn btn-danger">Verwijder</button>

  </div>
</div>
