<app-header></app-header>
<app-product-list></app-product-list>
<router-outlet></router-outlet>

  <!--<h2>{{type}}</h2>-->
<!--<ul>-->
<!--  <div *ngFor="let product of products">-->
<!--    <p>{{product.productName}}}</p>cd-->
<!--    <p>{{product.type}}}</p>-->

<!--    <p>{{product.price}}}</p>-->
<!--    <div (click)= "onDeletionProduct(product._id)" class="">-->
<!--      <img style="vertical-align: center;" src="../../../../assets/delete.png" class="garbage-image">-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash;    <app-product-item></app-product-item>&ndash;&gt;-->
<!--</ul>-->
