<app-admin-header></app-admin-header>
<div class="container">
  <div class="col-md-12 offset-md-3">
    <div class="row">
      <div class="col-xs-12">
        <h2 style="margin-bottom: 3%">Welkom {{firstName}} {{lastName}}. Kies wat u wilt doen</h2>
      </div>
    </div>
    <div class="row align-items-end">
      <div class="col-md-3">
        <a [routerLink]="['/', 'admin-all-products']"class="list-group-item clearfix">
          <h4 style="text-align: center">Manage Producten</h4>
        </a>
      </div>
      <div class="col-md-3">
        <a [routerLink]="['/', 'admin-all-users']"class="list-group-item clearfix">
          <h4 style="text-align: center">Manage Gebruikers</h4>
        </a>
      </div>
      <div class="col-md-3">
        <a [routerLink]="['/', 'manage-categories']"class="list-group-item clearfix">
          <h4 style="text-align: center">Manage Categorieën</h4>
        </a>
      </div>
    </div>
  </div>
</div>

