<app-admin-header></app-admin-header>
<div class="container">
  <div class="col-md-1"></div>
  <div class="col-md-9 offset-md-1">
    <div class="row">
      <h1>Alle producten</h1>
    </div>

    <div class="row">
      <button class="btn btn-primary mb-3" (click)="onNewProduct()">Nieuw product</button>
    </div>
    <div class="row">
      <hr>
      <p>Klik op een product om deze te managen</p>

      <div class="card-table">
        <div class="card-product">
          <table class="table table-responsive">
            <thead>
              <tr>
                <th>Productnaam</th>
                <th>Hoeveelheid</th>
                <th>Categorie</th>
                <th>Prijs</th>
              </tr>
            </thead>
            <tbody>
              <tr class="tr-body" *ngFor="let product of products" style="cursor: pointer"  [routerLink]="['/', 'admin-all-products', 'edit', product.id]">
                <td>{{ product.productName }}</td>
                <td>{{ product.amount }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.price }},-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


    </div>
  </div>
</div>
