<app-admin-header></app-admin-header>
<div class="container">
  <div class="col-md-3"></div>
  <div class="col-md-6 offset-md-3">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <h1>Edit product {{productName}}
      </h1>
      <label class="visually-hidden">Product naam</label>
      <input [(ngModel)]="productName" type="text" class="form-control" placeholder="Naam" name="productName" required>
      <label class="visually-hidden">Aantal</label>
      <input [(ngModel)]="amount" type="number" class="form-control" placeholder="Aantal" name="amount" required>
      <label class="visually-hidden">Categorie</label>
      <select [(ngModel)]="category" id="category" class="form-control" name="category" required>
        <option *ngFor="let cat of categories" [value]="cat.categoryName">{{cat.categoryName}}</option>
      </select>
      <label class="visually-hidden">Prijs</label>
      <input [(ngModel)]="price" class="form-control" type="number" placeholder="Prijs" name="price" required>
      <label class="visually-hidden">Plaatje URL</label>
      <input [(ngModel)]="imagePath" class="form-control" type="text" placeholder="Image Path" name="imagePath" required>
      <button style="margin-top: 10px" type="submit" class="btn btn-primary mb-3" [disabled]="!f.valid">Pas aan</button>
      <p *ngIf="productEdited">Product is aangepast!<button class="btn btn-primary mb-3" [routerLink]="['/', 'admin-all-products']">Navigeer naar Manage Producten</button></p>
      <p *ngFor="let errorMessage of errorMessages">{{ errorMessage }}</p>

    </form>
    <h2>Of verwijder het product</h2>
    <button (click)= "onDeletionProduct(productId)" class="btn btn-danger">Verwijder</button>
  </div>
</div>


